.header{
    display: flex; 
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

.left-side-h{
    display: flex;
    width: 100px;
    margin-left: 100px;
    align-items: center;
    row-gap: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
}

.logo-div{
    width: 100%;
    margin-right: 40px;
}

.right-side-h{
    display: flex;
    width: 400px;
    justify-content: center;
    margin-right: 110px;
    gap: 40px;
    font-size: 20px;
    white-space: nowrap;

}

.h-link{
    color: white;
    text-decoration: none;
}

.h-link:hover{
    color: rgb(179, 179, 179);
}

.h-link:active{
    color: rgb(247, 173, 37);
}


.nav{
    background: linear-gradient(to bottom, rgba(0,0,0,1) 67%,rgba(0,0,0,0.83) 82%,
    rgba(0,0,0,0.78) 85%,rgba(0,0,0,0.64) 94%,rgba(0,0,0,0) 100%); 
    height: 150px;
    position: fixed;
    z-index: 1;
    width: 100%;
}